# ArchivEx Environment Configuration
DEBUG=True
SECRET_KEY=_!o$gkij1^o&74ng5mxjw28yw!ziy_p4shj1s%u%69-etaw@
ALLOWED_HOSTS=127.0.0.1,localhost,redsandro.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://redsandro.pythonanywhere.com
PLATFORM_NAME=ArchivEx
CURRENCY=XOF
COUNTRY=Benin

# === PASS SEMESTRE ===
PASS_SEMESTRE_PRIX_DEFAUT=4500

# SebPay Configuration
SEBPAY_PUBLIC_KEY=
SEBPAY_SECRET_KEY=
SEBPAY_PAYMENT_URL=https://redsandro.pythonanywhere.com/pay/pass-semestre-archivex-7hvUb1
SEBPAY_BASE_URL=https://newapi.sebpay.bj/api/v1
SEBPAY_COUNTRY=BJ
SEBPAY_CURRENCY=XOF
SEBPAY_CALLBACK_URL=https://archivex.bj/webhook/sebpay/

# Email & Gmail SMTP Configuration
EMAIL_BACKEND=eugenetonato@gmail.com
EMAIL_HOST=eugenetonato@gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=eugenetonato@gmail.com
EMAIL_HOST_PASSWORD=siis mbkk uspr grwj
DEFAULT_FROM_EMAIL=eugenetonato@gmail.com
SUPPORT_EMAIL=eugenetonato@gmail.com


# === SÉCURITÉ ===
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
