# ArchivEx Environment Configuration
DEBUG=True
SECRET_KEY=your-django-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost

# Pass Semestre Server Price
PASS_SEMESTRE_PRIX_DEFAUT=4500

# SebPay Configuration
SEBPAY_PUBLIC_KEY=pk_live_or_test_key
SEBPAY_SECRET_KEY=sk_live_or_test_key
# Alternative key name supported:
# SEBPAY_SECRET=sk_live_or_test_key
SEBPAY_BASE_URL=https://newapi.sebpay.bj/api/v1
SEBPAY_COUNTRY=BJ
SEBPAY_CURRENCY=XOF
SEBPAY_CALLBACK_URL=https://archivex.bj/webhook/sebpay/
